@import "reset";

$colorPrincipal: rgba(255, 213, 183, 100);

/*Header*/
header{
    background-color: black;
    .logo{
        display: inline-block;
        img{
            width: 80px;
            height: 80px;
            margin: 10px;
        }
        .letraLogo{
            font-size: 25px;
            font-family: 'Joan', serif;
        }
    }
    nav{
        #colorPiel{
            color:$colorPrincipal;
        }
        #fondoPiel{
            background-color:$colorPrincipal ;
        }
        .navbar-nav {
            li{
            padding-left:30px;
            padding-right:30px;
            }
            li:hover{
                padding: 0px 40px;
                background-color: rgb(44, 42, 42);
                color: white;
                border-radius: 10px;
                transition: all 0.5s ease;
            }
        }
        .card-group{
            justify-content: space-between;
        }
        .card img{
            width: 500px;
            height: 500px;
        }
    }
}
/*FinHeader*/

/*index*/

/*IndexEnfoque*/

.contenedorEnfoque{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: baseline;
    flex-wrap: wrap;
    .enfoqueTexto{
        width: 300px;
        margin-left: 50px;
        margin-right: 100px;
    }
    .enfoqueImg{
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/*IndexFrases*/

.contenedorFrases{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #000;
    border-radius: 10px;
    background-color:$colorPrincipal;
    flex-wrap: wrap;
    div{
        height:200px ;
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 0px solid #000;
        border-radius: 10px;
        img{
            width: 300px;
            height: 200px;
        }
    }
}

/*IndexMasVendidos*/

.contenedorVendidos{
    border-bottom: 0px solid #000;
    .tituloVendidos{
        display: flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 50px;
        font-size: 20px;
    }
    .masVendidos{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        div{
            margin-top: 50px;
            margin-bottom: 50px;
            img{
                width:150px ;
                height: 150px;
                border-radius: 8%;
                padding-bottom: 20px;
                padding: 10px;
                border: 3px solid rgb(184, 179, 179);
            }
        }
    }
}

/*IndexMateriales*/

.contenedorMateriales{
    margin-left: 40px;
    margin-right: 40px;
    background-image:url(./img/fondoMateriales.jpg);
    border: 2px solid #000;
    border-radius: 10px;
    .tituloMateriales{
        display: flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 50px;
    }
    .materiales{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        div{
            width: 50px;
            height: 50px;
            margin-bottom: 70px;
            #arrow img{
                border:none;
            }
            img{
                width:100px ;
                height: 100px;
                border-radius: 8%;
                margin-bottom: 20px;
                border-radius: 8%;
                border: 2px solid black;
            }
        }
    
    }
}
/*arrow*/
div #arrow img{
    border:none;
}

/*IndexOpiniones*/

.contenedorOpiniones{
    .tituloOpiniones{
        display: flex;
        flex-direction:row;
        justify-content: center;
        padding-top: 50px;
        font-size: 20px;
    }
    .opiniones{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        div {
            img{
            width: 400px;
            height: 150px;
            }
        }
    }
}
/*Volver arriba*/
.volverArriba {
    a{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.5s ease;
    font-size: 30px;
    padding-left: 20px;
    }
}
/*FinIndex*/

/*FOOTER*/
footer{
    background-color:$colorPrincipal ;
    .footer{
        display: flex;
        flex-direction:row;
        justify-content: space-around;
        margin-top: 50px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        background-color:$colorPrincipal; 
        padding-top: 50px;
        color: black;
        font-weight: bold;
        transition: all 0.5s ease;
        font-size: 20px;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }
        .contacto {
            div {
                img{
                width: 50px;
                height: 50px;
                }
            }    
        }
        .footerProductos {
            div {
                a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                transition: all 0.5s ease;
                font-size: 20px;}
            }
        }
    }
    .contenedorPago{
        font-size: 20px;
        padding-left: 20px;
        .mediosPago{
            div{
                padding: 20px;
                margin: 10px;
                img{
                    width: 60px;
                    height: 40px;
                }
            }
            display: flex;
            flex-direction:row;
            align-items: center;
            justify-content: center 
        }
        .tituloPago{
            display: flex;
            flex-direction:row;
            justify-content: center;
            padding-top: 10px;
        }
    }
    .boxCopyright{
        background-color: #000;
        color: white;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}
/*FinFOOTER*/
/*PRESUPUESTOS*/
@import "presupuesto";
/*PRODUCTOS*/
@import"productos";
/*CONTACTO*/
@import "contacto";
/*NOSOTROS*/
@import "nosotros";
/*GRIDSINDEX*/
.grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}
.gridHeader{
    grid-area: header;
}
.gridMain{
    grid-area: main;
}
.gridFooter{
    grid-area: footer;
}


/*GRIDPRODUCTOS*/
.gridProductos{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "prheader prheader prheader"
        "prmain prmain prmain"
        "prfooter prfooter prfooter";
}
.productosHeader{
    grid-area: prheader;
}
.ProductosMain{
    grid-area: prmain;
}
.productosFooter{
    grid-area: prfooter;
}

/*mediaquery*/

@import "mediaquery";